<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank IFSC Codes | All banks of India</title>
    <% include head.ejs %>
    <meta name="title" content="Bank IFSC Codes | All banks of India">
    <meta name="keywords" content="Find IFSC , MICR Codes, Address,branch contact, All Bank Branches in India, for NEFT, RTGS, ECS: , IFSC, MICR, NEFT, RTGS, ECS">
    <meta name="description" content="Get the ifsc code of all banks of india, Find Micr, Branch details, Address, Phone Numbers and more. Here provided ifsc code of banks in India along with  MICR and more.">
  </head>
  <body>
    <% include header.ejs %>
 
   <!-- -----main----- -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-center">       
                <h4><strong>Find any Bank Details</strong></h4>
                 <p class="fw-bold">Welcome to InfoGiri</p>          
            </div>
           <div class="justify-content-center row">
        <div class="table-responsive mt-3 col-lg-8">
         <table class="table table-bordered">
          <tbody>
           <tr>
            <th><label for="bank_name">Select Bank</label></th>
            <td>
              <select name="" id="bank_name" >
               <option value="">Select Bank</option>
                 <%for(var count=0; count < banks.length; count++){
                  %>
         
                <option value="<%= banks[count].id%>"><%= banks[count].name%></option>
           
               <%}%>
             </select>
            </td>
          </tr>
          <tr>

            <th><label for="bank_state">Select State</label></th>
            <td>
              <select id="bank_state" class="" name="">
                <option>Select State</option>
              </select>
            </td>
          </tr>
          <tr>
          
            <th><label for="bank_city">Select City</label></th>
            <td>
              <select id="bank_city" class="" name="">
                <option>Select City</option>
              </select>
            </td>
        
          </tr>
          <tr>
         
            <th><label for="bank_branch">Select Branch</label></th>
            <td>
              <select id="bank_branch" class="" name="" >
                <option>Select Branch</option>
              </select>
            </td>
          </tr>
         </tbody>
         </table>
        </div>
        </div>
           
        <div class="justify-content-center row">
          <div class="table-responsive mt-4 col-lg-8">
           <table class="table table-bordered " id="all_detail" style="visibility: hidden;">
            <tbody>
             <tr>
              <th>IFSC CODE</th>
              <td id="bank_ifsc" class="bank_details fw-bold text-success"></td>
            </tr>
            <tr>
              <th>Bank Name</th>
              <td id="bank_name2" class="bank_details"></td>
            </tr>
            <tr>
              <th>MICR Code</th>
              <td id="bank_micr" class="bank_details">
              
              </td>
          
            </tr>
            <tr>
              <th>Address</th>
              <td id="bank_address" class="bank_details">
                
              </td>
            </tr>   
            <tr>
              <th>Contact</th>
              <td id="bank_contact" class="bank_details">
                
              </td>
            </tr>
           </tbody>
           </table>
          </div>
          </div>      
        
          </div>
      </div>
      </div>
    </main>
    <!-- -----end main----- -->

    <!-- ---section---- -->
    <section>
      <div class="container">
        <div class="brand">  <img src="/images/infogiri_logo.png"   alt="logo"/></div>
        <h5>Indian Financial System Code (IFSC):</h5>
        <p>Infogiri is your go-to source for find IFSC codes for banks across India. The Indian Financial System Code (IFSC) is a unique 11-digit alphanumeric code that enables the identification of individual bank branches for electronic transactions. Whether you're looking to make a funds transfer, set up an electronic payment, or verify a bank branch's details, our IFSC code finder tool provides you with swift and accurate results. With our user-friendly interface, you can effortlessly search for IFSC codes by bank name, branch name, or even location, ensuring a hassle-free banking experience.</p>
      </div>
    </section>  
    <!-- ----e-section---- -->

    <% include footer.ejs %>
    
  <script src="/javascripts/ifsc.js"></script>
  </body>
</html>
