<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <% include head.ejs %>
  </head>
  <body>
    <% include header.ejs %>

    <section class="term mrg-top">
        <div class="container mt-5 px-0">
          <div class="row gx-0">
         
         
            <div class="col-lg-10 col-md-10 col-sm-10 col-10 m-auto">
              
  
              <h3>Terms & Conditions </h3>   
              <p class="text-left">
                Please read these Terms & Conditions carefully before using Infogiri, which provides services such as IFSC code finder, pincode lookup, and other related features. By accessing or using Infogiri, you agree to be bound by these Terms & Conditions. If you do not agree with any part of these terms, please refrain from using our platform.\
             </p>


             <h6>Use of Infogiri:</h6> 
              
             <ul style="list-style-type:lower-alpha" class="list">
                 <li> <strong>Eligibility:</strong> You must be at least 18 years old and capable of entering into a legally binding agreement to use Infogiri. If you are accessing Infogiri on behalf of an organization, you represent and warrant that you have the authority to bind that organization to these Terms & Conditions.
                 </li>
                 <li> <strong>Lawful Use: </strong>You agree to use Infogiri solely for lawful purposes and in compliance with all applicable laws, regulations, and industry standards.
                 </li>
                 <li> <strong>Accuracy of Information: </strong>While we strive to provide accurate and up-to-date information, we do not guarantee the accuracy, completeness, or reliability of the content available on Infogiri. You acknowledge that the information provided is for general informational purposes only and should not be considered professional advice.
                 </li> 
                 <li> <strong>User Responsibility: </strong>You are responsible for maintaining the confidentiality of your account information, including your login credentials. You agree to notify us immediately of any unauthorized use or suspected breach of your account.
                 </li>
             </ul>  
                 <h6>Intellectual Property Rights:</h6> 
              
             <ul style="list-style-type:lower-alpha" class="list">
                 <li> <strong>Ownership: </strong>Infogiri and its content, including text, graphics, logos, trademarks, and software, are the property of Infogiri or its licensors and are protected by intellectual property laws. You acknowledge and agree that you do not acquire any ownership rights by using Infogiri.
                 </li>
                 <li> <strong>Limited License: </strong>We grant you a limited, non-exclusive, non-transferable, and revocable license to access and use Infogiri for personal or internal business purposes. This license does not permit you to modify, distribute, reproduce, sell, or exploit any part of Infogiri without our prior written consent.
                 </li>
                 
             </ul>

             <h6>Third-Party Links:</h6>   
             <p class="text-left">
                Infogiri may contain links to third-party websites or services. We do not endorse or assume any responsibility for the content, privacy practices, or terms of use of these third-party websites. Your use of third-party websites is at your own risk, and you should review the applicable terms and policies.     
             </p>

             <h6>Limitation of Liability:</h6> 
              
             <ul style="list-style-type:lower-alpha" class="list">
                 <li> <strong>Disclaimer:  </strong> Infogiri is provided on an "as is" and "as available" basis without warranties of any kind, whether express, implied, or statutory. We disclaim all warranties, including but not limited to, warranties of merchantability, fitness for a particular purpose, and non-infringement.
                 </li>
                 <li> <strong>Limitation of Liability:</strong>In no event shall Infogiri or its affiliates be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with the use of Infogiri, even if advised of the possibility of such damages.
                 </li>
                 
             </ul>

          

             <h6>Indemnification:</h6>   
             <p class="text-left">
                You agree to indemnify and hold Infogiri, its officers, directors, employees, and affiliates harmless from any claims, losses, damages, liabilities, costs, and expenses (including reasonable attorneys' fees) arising out of or related to your use of Infogiri, violation of these Terms & Conditions, or infringement of any intellectual property or other rights of any third party. 
           </p>

            <h6>Modification and Termination:</h6>   
             <p class="text-left">
                We reserve the right to modify, suspend, or terminate Infogiri or any part thereof at any time without prior notice. We may also modify these Terms & Conditions at any time by posting the updated version on Infogiri. Continued use of Infogiri after such modifications shall constitute your consent to the updated
             </p>

           
            </div>
           
          </div>
        </div>
      </section>

    <% include footer.ejs %>

  </body>
</html>
